@import "../../styles";

.status {
  height: 100%;
  width: 70%;
  padding: 64px;
  overflow-y: scroll;
}

.basicInfo {
  @include flexBoxCenter;

  .photo {
    @include resetImgBackground;
    height: 150px;
    width: 150px;
    margin-right: $spacing-m;
    background-image: url("../../image/traveller.gif");
  }

  .textContainer {
    width: calc(100% - 200px);
    p {
      @include flexBoxCenter(row, space-between, flex-start);
      padding-bottom: $spacing-base;
    }
  }
}

@include media(sp) {
  .status {
    width: 100%;
    padding: $spacing-m;
  }
  .basicInfo {
    .textContainer {
      width: 100%;
      flex-shrink: 3;

      span {
        text-align: right;
      }
    }
  }
}
