@import "../../styles/mixins.scss";

.status {
  height: 100%;
  width: 70%;
  padding: 64px;
  overflow-y: scroll;
}

.basicInfo {
  display: flex;

  .photo {
    height: 150px;
    width: 150px;
    margin-right: 16px;
    background-image: url("../../image/traveller.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textContainer {
    width: calc(100% - 200px);
    p {
      padding-bottom: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@include media(sp) {
  .status {
    width: 100%;
    padding: 16px;
  }
  .basicInfo {
    .textContainer {
      width: 100%;
      flex-shrink: 3;
      p {
        display: flex;
        justify-content: space-between;
        span {
          text-align: right;
        }
      }
    }
  }
}
