@import "../../styles";

.profile {
  height: 100vh;
  width: 70%;
  padding: 64px;
  overflow-y: hidden;
}

.tree {
  position: relative;
  width: 100%;
}

@include media(sp) {
  .profile {
    width: 100%;
    padding: $spacing-xl $spacing-m;
    overflow-y: scroll;
  }
}

.noMargin {
  margin-bottom: 0;
}
