@import "../../styles/mixins.scss";

.profile {
  height: 100%;
  width: 70%;
  padding: 64px;
  overflow-y: hidden;
}

.tree {
  position: relative;
  width: 100%;
}

@include media(sp) {
  .profile {
    width: 100%;
    padding: 16px;
  }
}

.noMargin {
  margin-bottom: 0;
}
