// font
$font-title: 24px;
$font-subtitle: 16px;
$font-content: 14px;

// margin / padding
$spacing-base: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

// raidus
$raidus-base: 5px;
$raidus-circle: 50%;
