@import "../../styles";

.card {
  opacity: 0;
  border: 1px solid white;
  width: 100%;
  padding: $spacing-m;
  padding-top: 36px;
  position: relative;
  margin-bottom: $spacing-xl;
  &:last-child {
    margin-bottom: 0;
  }
  .header {
    font-size: $font-subtitle;
    position: absolute;
    background-color: white;
    height: 20px;
    line-height: 20px;
    width: 30%;
    top: -1px;
    left: -10px;
    color: black;
    font-weight: 700;
    transform: skewX(-30deg);
    padding-left: $spacing-m;
  }
  animation-name: card;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  @for $i from 1 to 4 {
    &:nth-child(#{$i}) {
      animation-delay: 0.3s * $i - 0.3s;
    }
  }
}

@keyframes card {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
