@import "../../styles";

.navBar {
  @include flexBoxCenter;
  transition: 0.5s all;
  opacity: 0.9;
  z-index: $zIndex-navBar;
  height: 44px;
  width: 50px;

  background-color: white;
  color: black;
  position: fixed;
  bottom: $spacing-m;
  right: $spacing-m;
  -webkit-clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
}

.isMenuOpen {
  background-color: black;
  color: white;
}
