@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
.App {
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: black;
  letter-spacing: 1px;
  font-family: "DotGothic16", sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

div,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
